<h1>About Jungle</h1>

<h3> Jungle was first founded by Lighthouse Labs in 1994. We have some of the craziest products you can't get anywhere else!!!</h3>

<p align="center">
  <br><%= link_to "Home", root_path, class: 'btn btn-lg btn-info' %>
</p>